.main p,
.main b,
.main em,
.main i,
.main li,
.main ul,
.main h1,
.main a,
.main blockquote,
.main h2,
.main h3,
.main h5,
.main h4 {
    color: #212121;
    font-family: 'Mulish', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: #212529;
    box-sizing: border-box;
    color: #2b2a2a;
    font-weight: 400;
    line-height: 28px;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}
.main {
    position: relative;
    -webkit-text-size-adjust: none;
    background: #fff;
    color: #2b2a2a;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    line-height: 28px;
    padding: 0;
}
.main figure {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.main .container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sec_left,
.sec_right {
    width: 50%;
}
.mobileOnly {
    display: none;
}

.main h2 {
    color: #67b4ca;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 40px;
    padding: 0 0 23px;
    font-weight: 700;
    margin: 0;
}
.main p em,
.main p b {
    font-size: 1em;
    line-height: inherit;
}

a.btn {
background: #f1c61a;
border: none;
border-radius: 8px;
color: #77620d;
cursor: pointer;
display: block;
font-size: 32px;
font-weight: 800;
height: 80px;
letter-spacing: -1px;
line-height: 80px;
margin: 0;
padding: 0;
position: relative;
text-align: center;
text-decoration: none;
text-transform: uppercase;
-webkit-transition: all .2s;
-moz-transition: all .2s;
-o-transition: all .2s;
transition: all .2s;
border-radius: 4px;
font-size: 24px;
font-weight: 700;
height: 50px;
letter-spacing: -.5px;
line-height: 30px;
margin: 15px 10px 0 0;
padding: 10px 24px;
display: block;
}
